<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Training Pointer</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>

<body>
    <div style="text-align: center">
    <img src="images/learn.jpg"/>
    
</div>
    <div id="container">
        <nav class="menu">
           <ul class="footer">
                    <li><a href="/">Home</a></li>
                    <li><a href="/requests">Requests</a>
                    </li>
                    
                    <li><a href="/logout">Logout</a></li>
                </ul>
        </nav>
        <section class="displayBoard">
        </section>
        <footer class="footer navbar-fixed-bottom">
     <div class="container" style="text-align: center">Copyright © 2015 
     </div>
</footer>
    </div>
    <!-- <script data-main="js/main" src="js/lib/require.js"></script> -->
    <script  src="js/lib/require.js"></script>
  <script src="js/requireConfig.js"></script>
 <!--  // <script  src="js/main.js"></script> -->
</body>

</html>
