<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Training Pointer</title>
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="css/app-main.css" media="screen">
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header id="header">
    </header>
    <section id="section">
    </section>
  
    <footer id="footer">
    </footer>
    <div id="modalWrapper">
    </div>
    <script src="js/lib/require.js"></script>
    <script>
    define("appUser", [], function() {
        <% if(typeof user != 'undefined') {%>
        return <%-JSON.stringify(user)%>;
        <%} else { %>
        return {
            signedIn: false
        };
        <%}%>
    });
    </script>
    <script src="js/main.js"></script>
    
</body>
</html>
