<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Training Pointer</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>

<body>
    <div style="text-align: center">
    <img src="images/learn.jpg"/>
    
</div>
    <div id="container">
        <div style="text-align: center">
            <nav class="menu">
                <ul class="footer">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/requests">REQUESTS</a>
                    </li>
                    
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
        
        <section class="displayBoard">
        </section>
    </div>
    <!-- <script data-main="js/main" src="js/lib/require.js"></script> -->
    <script  src="js/lib/require.js"></script>
  <script src="js/requireConfig.js"></script>
  <script  src="js/main.js"></script>
</body>

</html>
