body {
        width: auto;
    height: auto;
        background-size: cover;
    
    background-image: url("../images/Benifits_of_Training.JPG");

}
nav {
    height: 40px;
    width: 100%;
    background: #2F4F4F;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #FFFFFF;
    display: inline-block;
    width: 100px;
    text-align: left;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14px;
    line-height: 40px;
    text-shadow: 1px 1px 0px #FFFFFF;
}



 .formb a:hover {
    text-decoration: none;
    color: #FFFFFF
}

.formb a{
    color:#FFFFFF;
}

.startup {
    margin-top: 20px;
}

.signin {
    margin-top: 40px;
}

.formb {
    background-color: #2F4F4F;
    padding-bottom: 20px;
    color : #FFFFFF;
    a:hover : #FFFFFF;
}



.thumb {
    display: border;
    height: 120px;
    width: 100px;
    margin: 10px 5px 0 0;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
}

body .modal-dialog {
  width: 600px;
}

body .jumbotron{
    background-color: AliceBlue
}
