 
            <div class="container startup">
                <div class="row">
                    <div class="col-sm-1 col-md-1">
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div id="titlee">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1 col-md-1">

                    </div>
                   
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div id="thanks">
                            </div>
                        </div>
                
                </div>
               

                <div class="row startup">
                    <div class="col-sm-1 col-md-1">

                    </div>
                    <div class="col-sm-4 col-md-4 sessionid">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 table-scroll">
                                <h5>Participants List</h5>
                                <table class="table table-hover" id="feed">
                                    <tr>
                                        <th>Names</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Participants</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-hover" id="tblinput">
                                            <thead>
                                                <tr>
                                                    <th width="75"><strong>Participant Name</strong></th>
                                                    <th width="75"><strong>Email</strong></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <input type="text" id="partc_name" placeholder="presenter" /> </td>
                                                <td>
                                                    <input type="text" id="email" placeholder="email" /> </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                    <button id="nusebtn" data-dismiss="modal">Submitt</button>
                                                    <button id="btnclear">Reset</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="myModal3" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Participants in Team</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-hover" id="tblinput">
                                            <thead>
                                                <tr>
                                                    <th><strong>Participant Name</strong></th>
                                                    <th><strong>Email</strong></th>
                                                    <th><strong>Select Team</strong></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <input type="text" id="partc_name" placeholder="participants" /> </td>
                                                <td>
                                                    <input type="text" id="email" placeholder="email" /> </td>

                                                    <td>
                                    
                                    <select class="form-control">
                                                <option value="one">UI</option>
                                                <option value="two">JAVA</option>
                                                <option value="three">TESTING</option>
                                                <option value="four">SST</option>
                                                <option value="five">PAT</option>
                                            </select>
                                            
                                    </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td >
                                                    <button id="nusebtn" data-dismiss="modal" class="btn-default pull-right">Add New</button>
                                                    
                                                    </td>
                                                    
                                                    <td>
                                                    <button id="btnclear" class="btn-default">Send Mail</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <span id="message"></span>
                    </div>
                    <div class="col-sm-1 col-md-1">
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <div class="row">
                            <h5>Feedback</h5>
                            <div class="col-sm-10 col-md-10">
                                <div style="height:450px; width:600px">
                                    <canvas id="canvas"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        