<!--           <div class="row signin">
    <div class="col-sm-4 col-md-4">
    </div>
    <div class="col-sm-3 col-md-3 formb">
        <div class="form-group">
            <label for="user name">User name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="button" class="btn btn-default" id="signup">Register</button>
        <a href="/signinn" title="signin"> signin </a>
    </div>
</div>
-->
<!-- container -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Registration</li>
    </ol>
    <div class="row">
        
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            
            
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Congratulations {{userName}}. You have successfully registered.</h3>
                        <p style="text-align:center">
                            Please <a href="/signin">signin</a> back with your credentials to add your sessions.
                        </p>                           
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 text-center" >
                                    <a href="/signin" class="btn btn-action">Signin</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            
        </article>
        <!-- /Article -->
    </div>
    </div>  <!-- /container -->