<div class="container startup">
                <div class="col-sm-2 col-md-2">
                </div>
                <div class="col-sm-8 col-md-8">
                    
                    <div class="jumbotron text-center">
                        <h4>Welcome to home page</h4>
                        <p>Sign in and submit your valuable feedback!</p>
                        <p>
                            <a href="/signinn" class="btn btn-default btn-sm" role="button">
         
                           Sign in!
                           </a>
                        </p>
                    </div>
                   
                </div>
                <div class="col-sm-2 col-md-2">
                </div>
            </div>