
            <div class="row signin">
                <div class="col-sm-4 col-md-4">
                </div>
                <div class="col-sm-3 col-md-3 formb">
                    <div class="form-group">
                        <label for="user name">User name</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-default" id="signup">Register</button>
                    <a href="/signinn" title="signin"> signin </a>
                </div>
            </div>
        