<div class="row signin" id="signinnn">
                <div class="col-sm-4 col-md-4">
                </div>
                <div class="col-sm-3 col-md-3 formb">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-default" id="login">signin</button>
                    <a href="/signup" title="register"> signup </a>
                </div>
            </div>