
            <td>{{tname}}</td>
            <td>{{pst_date}}</td>
            
            <td><a href="sessionss/{{ssid}}" class="btn btn-custom btn-sm active" role="button">View Details</a></td>
       