html, body
{
    height: 100% !important;
}

#section {	
	width:100%;		
	min-height: calc(100% - 350px);	
}

.user-block {
/* 	  position: absolute;
		right: 320px;
    top: 18px;
 */	.title {
		color: #ccc;
    font-size: 23px;
    font-weight: bold;
    padding-top: 20px;

	}
}

.profile-dropdown{
	height:59px;
}


.user-title-section {
	padding:0;
	text-align: center;
}

.nav-section {

	padding: 0
}

