html, body
{
    height: 100% !important;
}

#section {	
	width:100%;		
	min-height: calc(100% - 350px);	
}

.user-block {
	.title {
		color: #fff;
		font-family: "Segoe UI";
		font-size: 36px;
		font-weight: 100;
	}
}



