.session-list-container {
	padding-top: 20px;
}

.session-title {
	background-color: #dedede;
}

.details-section {
	border-right: 5px solid #1B809E;
	background-color: #f9f9f9;
	padding-bottom: 30px;

}

.session-group {
	margin-top: 30px;
	margin-bottom: 30px;
}

.session-title {
	height: 60px;

	p {
		font-size: 30px;
    line-height: 1;
    padding: 15px 0;
    margin: 0;
	}
}